{% from theme('macros/metrics.html') import metrics %}

<section class="fr-pb-15v vuejs">
    <h2 class="subtitle subtitle--uppercase">{{ _('General statistics') }}</h2>
    <div class="fr-grid-row fr-grid-row--gutters">
        {{metrics(_("Datasets"), org.metrics.datasets, dataset_metrics, type="bar", highlight_direction=True, as_percentage=True)}}
        {{metrics(_("Reuses"), org.metrics.reuses, reuse_metrics, type="bar", highlight_direction=True, as_percentage=True)}}
    </div>
    <h2 class="subtitle subtitle--uppercase fr-pt-10v">{{ _('Datasets statistics') }}</h2>
    <div class="fr-grid-row fr-grid-row--gutters">
        {% if visit_dataset %}
            {{metrics(_("Views"), visit_dataset.values()|sum, visit_dataset, type="line", highlight_direction=True, as_percentage=True)}}
        {% endif %}
        {% if visit_resource %}
            {{metrics(_("Downloads"), visit_resource.values()|sum, visit_resource, type="line", highlight_direction=True, as_percentage=True)}}
        {% endif %}
        {{metrics(_("Reuses on datasets"), dataset_reuse_metrics.values()|sum, dataset_reuse_metrics, type="line", highlight_direction=True, as_percentage=True)}}
        {{metrics(_("Followers"), dataset_follower_metrics.values()|sum, dataset_follower_metrics, type="bar", highlight_direction=True, as_percentage=True)}}
    </div>
    <h2 class="subtitle subtitle--uppercase fr-pt-10v">{{ _('Reuses statistics') }}</h2>
    <div class="fr-grid-row fr-grid-row--gutters">
        {% if visit_reuse %}
            {{metrics(_("Views"), visit_reuse.values()|sum, visit_reuse, type="line", highlight_direction=True, as_percentage=True)}}
        {% endif %}
        {% if outlink_metrics %}
            {{metrics(_("Reuses opening"), outlink_metrics.values()|sum, outlink_metrics, type="line", highlight_direction=True, as_percentage=True)}}
        {% endif %}
        {{metrics(_("Followers"), reuse_follower_metrics.values()|sum, reuse_follower_metrics, type="bar", highlight_direction=True, as_percentage=True)}}
    </div>
</section>
