{% macro metrics(title, value, data, type = "bar", hide_chart = False, col_size=3) %}
{% set month_values = data.keys()|list %}
{% set metric_values = data.values()|list %}
{% set previous_month = metric_values[-3] %}
{% set current_month = metric_values[-1] %}
{% set current_month_date = month_values[-1] %}
{% set changes_this_year = metric_values|max is greaterthan 0 %}
<div class="fr-col-12 fr-col-md-{{col_size}} {% if not value and not changes_this_year %} text-mention-grey {% endif %}">
    <h3 class="fr-text--sm fr-m-0">{{title}}</h3>
    <div class="fr-grid-row fr-grid-row--middle">
        <p class="h1 line-height-1 fr-m-0">
            {{value | summarize}}
        </p>
        {% if changes_this_year and not hide_chart %}
        <div class="fr-ml-1w">
            <chart type="{{type}}" :data='{{data|tojson}}'></chart>
        </div>
        {% endif %}
    </div>
    {% if current_month > 0 %}
        <p class="fr-mt-1w fr-text--regular text-transform-none fr-badge fr-badge--no-icon fr-badge--success">
            <strong class='fr-mr-1v'>
                    {{current_month | summarize}}
            </strong>
            {{_(" in ")}}
            {{isodate(current_month_date + "-01", format="MMM yyyy")}}
        </p>
    {% endif %}
</div>
{% endmacro %}
